@media (max-width: 899px) {
    h1, h2 ,h3 {
        font-size: 25px !important;
    }
    h4, h5, h6 {
        font-size: 20px !important;
    }
    p , a {
        font-size: 14px !important;
    }
    .navbar .content{
        justify-content: space-between;
    }
    .navbar .content .navbar-nav{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 100px;
        right: -100%;
        background-color: #fff;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        padding: 20px 0px;
        transition: all .4s linear;
    }
    .active-nav{
        right: 0px !important;
    }
    .navbar .content .hamburger{
        display: block !important;
    }

    .navbar .content .navbar-nav .nav-item .nav-link{
        margin: 15px 0px;
    }
    .navbar.navbar-fixed-top.scrolled  .navbar-nav{
        top: 67px;
    }
    .navbar .content .navbar-nav .nav-item .nav-link {
        width: fit-content;
        margin: auto;
    }
    .about-us .image-content{
        width: 450px;
        height: 450px;
        margin: auto;
    }
    .btn-contain{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    header .item .content{
        padding-right: 0px;
        margin-bottom: 20px;
    }
    .features .content ul li::After{
        top: 10px;
        transform: translate(0px) !important;
    }
    .course .course-data-content .nav li a{ 
        min-width: fit-content !important;
    }
    .course .course-list{
        position: absolute;
        top: 76px;
        right: -100%;
        width: 100%;
        transition: all .4s linear;
        overflow-y: scroll;
        min-height: 500px;
        z-index: 999 !important;
        box-shadow: 0px 0px 10px rgba(0 , 0, 0, .8);
    }
    .course .btn-contain.filter{
        display: flex;
    }
    .order-mobile-0 {
        order: 0 !important;
    }
    .order-mobile-1 {
        order: 1 !important;
    }

    .table-data .table-responsive .table .data{
        min-width: 120px !important;
    }

    .navbar .dropdown-toggle span{
        display: none;
    }
}
@media (max-width: 500px) {
    .about-us .image-content{
        width: 300px;
        height: 300px;
        margin: auto;
    }
}